.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: #03A9F4;
}

/***********************
 * HERO
 ***********************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 60px calc( (100% - 600px) / 2 ) 30px;
}


/***********************
 * MAIN CONTENT
 ***********************/
.content {
    display: inline-block;
    width: 1100px;
    margin: 60px calc( (100% - 1100px) / 2 );
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;
    }
    .content h3 {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
        .content p > a {
            color: red;
            text-decoration: none;
        }


/***********************
 * FOOTER
 ***********************/
.footer {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2 );
    text-align: center;
}
    .footer > .socials {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
        .footer > .socials > a {
            padding: 10px;
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
        }
    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 30px calc( (100% - 600px) / 2 ) 0;
    }
